absl-py==2.0.0
apache-beam==2.53.0rc1
asttokens==2.4.1
astunparse==1.6.3
avro-python3==1.10.2
cachetools==5.3.2
certifi==2023.11.17
charset-normalizer==3.3.2
colorama==0.4.6
comm==0.2.0
contextlib2==21.6.0
contourpy==1.2.0
cycler==0.12.1
Cython==3.0.7
debugpy==1.8.0
decorator==5.1.1
dm-tree==0.1.8
exceptiongroup==1.2.0
executing==2.0.1
flatbuffers==23.5.26
fonttools==4.47.0
gast==0.4.0
google-auth==2.25.2
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.60.0
h5py==3.10.0
idna==3.6
ipykernel==6.27.1
ipython==8.18.1
jedi==0.19.1
jupyter_client==8.6.0
jupyter_core==5.5.1
keras==2.10.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.5
libclang==16.0.6
lvis==0.5.3
lxml==4.9.4
Markdown==3.5.1
MarkupSafe==2.1.3
matplotlib==3.8.2
matplotlib-inline==0.1.6
namex==0.0.7
nest-asyncio==1.5.8
numpy==1.26.2
oauthlib==3.2.2
object-detection==0.1
opt-einsum==3.3.0
packaging==23.2
pandas==2.1.4
parso==0.8.3
Pillow==10.1.0
platformdirs==4.1.0
portalocker==2.8.2
prompt-toolkit==3.0.43
protobuf==3.20.0
psutil==5.9.7
pure-eval==0.2.2
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycocotools==2.0.7
Pygments==2.17.2
pyparsing==2.4.7
python-dateutil==2.8.2
pywin32==306
PyYAML==6.0.1
pyzmq==25.1.2
regex==2023.10.3
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.7.0
rsa==4.9
sacrebleu==2.2.0
SciPy==1.12.0rc1
six==1.16.0
-e git+https://github.com/tensorflow/models@e923b8aa3b066c02432ffdb7d5fd93d465b6eaa5#egg=slim&subdirectory=research\slim
stack-data==0.6.3
tabulate==0.9.0
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
tensorflow-estimator==2.10.0
tensorflow-gpu==2.10.0
tensorflow-io==0.31.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
tf-models-official==2.15.0
tf-slim==1.1.0
tornado==6.4
traitlets==5.14.0
typing_extensions==4.9.0
urllib3==2.1.0
wcwidth==0.2.12
Werkzeug==3.0.1
wget==3.2
wrapt==1.16.0
